<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden"><span id="js-rotating">www.fair-guard.com</span></h4>
  </div>
  <div class="user-content">
    <p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;杭州法嘉德科技有限公司是一家专注于游戏加固及反外挂的高科技安全服务商，帮助游戏公司解决破解和外挂问题。FairGuard 是公司手游加固产品的品牌。
</p>
 <p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;公司始终坚持自主研发、客户至上的服务理念，秉承专注、极致、口碑的企业精神，通过专业的服务，为客户提供优质的游戏安全解决方案，赢得了客户的一致好评。
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;欢迎访问 <a href="http://www.fair-guard.com">www.fair-guard.com</a> 了解更多。
    </p>
  </div>
</div>
